.headerRow {
  max-width: 980px;
  margin: 0 auto;

  .headerDivider {
    height: 2.9em;
    display: inline-block;
  }

  .headerMenu {
    display: inline-block;
    background: none;
    border: none;

    a {
      color: white;
    }
  }

  .headerXsMenu {
    position: absolute;
    color: yellow;
    right: 0;
    width: auto;
  }

  .headerLogo {
    text-align: center;
    margin-bottom: 0;
    color: white;
  }
}
