@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .appMain {
      flex: 1;
      .contentWrapper {
        max-width: 980px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-top: none;
        display: flex;
        img {
          max-width: 100%;
        }
        pre,
        code {
          display: block;
          overflow: auto;
          background: #f4f4f4;
          padding: 5px 10px;
          border: 1px solid #eee;
          word-wrap: break-word;
          white-space: pre-wrap;
        }
      }
    }
  }
}
