.contentWrapper {
  max-width: 980px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;

  .indexMenu {
    border-right: none;
    text-align: center;
    justify-content: center;

    li {
      margin: 0;
      border-right: 3px solid transparent;
    }

    li:hover, li.ant-menu-item-selected {
      border-right-color: #1890ff;
      background: #e6f7ff;
    }

  }

  .indexList {
    border-left: 1px solid #ccc;
  }
}


@media all and (max-width: 767px) {
  .contentWrapper {
    .indexMenu {
      display: flex;
      border-bottom: 1px solid #ccc;

      & > li {
        border: none;
        border-right: none;
        border-bottom: 3px solid transparent;
      }

      & > li:hover, & > li.ant-menu-item-selected {
        border-bottom-color: #1890ff;
        background: none;
      }
    }

    .indexList {
      border-left: none;
    }

    .ant-menu-vertical .ant-menu-item:not(:last-child) {
      margin: 0;
    }
  }

}